.msp-clipboard-box-hidden {
    display: none;
}

.msp-restore-buttons,
.msp-backup-buttons {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.msp-restore-buttons .mdc-text-field .mdc-notched-outline__notch .mdc-floating-label,
.msp-backup-buttons .mdc-text-field .mdc-notched-outline__notch .mdc-floating-label,
.msp-restore-buttons .mdc-text-field .mdc-text-field-helper-line .mdc-text-field-character-counter,
.msp-backup-buttons .mdc-text-field .mdc-text-field-helper-line .mdc-text-field-character-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.msp-restore-buttons .mdc-text-field .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label,
.msp-backup-buttons .mdc-text-field .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}

@media screen and (max-width: 400px) {
    .msp-restore-buttons,
    .msp-backup-buttons {
        grid-auto-flow: row;
    }
}